<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaProjekt</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Helpers")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="icon" type="image/png" href="/Content/Images/favicon.ico" />
    <!--[if IE]>
        <link rel="shortcut icon" href="/Content/Images/favicon.ico" type="image/vnd.microsoft.icon" />
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PizzaProjekt", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pizza", "Index", "Pizzas")</li>
                    <li>@Html.ActionLink("Składniki", "Index", "Ingredients")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
            <div class="row">
                <div class="col-md-offset-2 col-md-8" style="background-color: #ffffcc;">
                    <hr />
                    <div class="well text-center" style="margin-top: 10px;">
                        <h2>@ViewBag.Title</h2>
                    </div>
                    <hr />

                    @RenderBody()
                    <br />
                </div>
            </div>
        
            <hr/>
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - Paweł Maciejewski</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
