@using PizzaProjekt.Helpers
@using PizzaProjekt.Models.Enums
@model PizzaProjekt.ViewModels.PizzaViewModel

@{
    ViewBag.Title = "Szczegóły";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Pizza @Size.Small.GetDescription().ToLower() - ceny
        </dt>
        <dd>
            Ciasto @Batter.Thick.GetDescription().ToLower(): @Model.Versions.First(p => p.Batter == Batter.Thick && p.Size == Size.Small).Price<br />
            Ciasto @Batter.Thin.GetDescription().ToLower(): @Model.Versions.First(p => p.Batter == Batter.Thin && p.Size == Size.Small).Price
        </dd>

        <dt>
            Pizza @Size.Medium.GetDescription().ToLower() - ceny
        </dt>
        <dd>
            Ciasto @Batter.Thick.GetDescription().ToLower(): @Model.Versions.First(p => p.Batter == Batter.Thick && p.Size == Size.Medium).Price<br />
            Ciasto @Batter.Thin.GetDescription().ToLower(): @Model.Versions.First(p => p.Batter == Batter.Thin && p.Size == Size.Medium).Price
        </dd>

        <dt>
            Pizza @Size.High.GetDescription().ToLower() - ceny
        </dt>
        <dd>
            Ciasto @Batter.Thick.GetDescription().ToLower(): @Model.Versions.First(p => p.Batter == Batter.Thick && p.Size == Size.High).Price<br />
            Ciasto @Batter.Thin.GetDescription().ToLower(): @Model.Versions.First(p => p.Batter == Batter.Thin && p.Size == Size.High).Price
        </dd>

        <dt>
            Składniki
        </dt>
        <dd>
            @if (ViewBag.Ingredients != null && (ViewBag.Ingredients as IEnumerable<string>).Any())
            {
                foreach (var ingredient in ViewBag.Ingredients)
                {
                    @ingredient<br/>
                }
            }
            else
            {
                @:Brak składników.
            }
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Edytuj", "Edit", "Pizzas", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Wróć do listy", "Index", "Pizzas", null, new { @class = "btn btn-primary" })
</div>